@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/**
 * CONTENTS
 *
 * BASIC RESET
 *
 * LOGIN PAGE
 *
 * BUTTONS
 *
 * ICONS
 *
 * TABS NAVIGATION
 *
 * TABS CONTENT
 *
 * MATERIAL DESIGN
 *
 * PROFILE INFO
 *
 * HELPERS
 *
 */
/*------------------------------------*
   #BASC RESET
 \*------------------------------------*/
a, article, aside, b, blockquote, body, canvas, caption, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, img, label, legend, li, menu, nav, ol, output, p, pre, section, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body,
html {
  width: 100%;
  height: 100%;
  color: #3f454a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/*------------------------------------*
  #LOGIN PAGE
\*------------------------------------*/
.wrapper {
  position: relative;
}

@media only screen and (min-width: 560px) {
  .wrapper {
    min-height: 100%;
    padding-top: 170px;
    background: url("../images/bg_image.jpg") center center fixed;
    background-size: cover;
  }
}

#login {
  position: relative;
  width: 100%;
  padding: 61px 46px 39px;
  background-color: #fff;
}

@media only screen and (min-width: 560px) {
  #login {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    -khtml-box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    -moz-box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    -ms-box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    -o-box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    box-shadow: 0 4px 16px rgba(58, 75, 93, 0.27);
    width: 503px;
    margin: 0 auto;
    padding: 49px 50px 39px;
  }
}

#login h2 {
  color: #333333;
  font-size: 24px;
  line-height: 25px;
}

@media only screen and (max-width: 559px) {
  #login h2 {
    margin-bottom: 95px;
  }
}

#login p {
  padding: 0 20px 29px;
  color: #a8b8c4;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (max-width: 559px) {
  #login p {
    padding: 3px 0 29px;
    text-align: left;
  }
}

#login p a {
  color: #007ee5;
}

#login .button-login {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 11px 0;
  color: #fff;
  border: medium none;
  background-color: #007ee5;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

#login .button-login:hover {
  background-color: #0066b9;
}

@media only screen and (max-width: 559px) {
  #login .button-login {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

/*------------------------------------*
  #PROFILE PAGE
\*------------------------------------*/
.wrapper-profile {
  position: relative;
  background-color: #f5f8f9;
}

.profile {
  position: relative;
  margin-bottom: 13px;
  padding-top: 76px;
}

@media only screen and (min-width: 768px) {
  .profile {
    margin-top: 70px;
    margin-bottom: 37px;
    background-color: #fff;
  }
}

.profile__logout {
  position: absolute;
  top: 23px;
  right: 23px;
}

.profile__image {
  -webkit-box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  -khtml-box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  -moz-box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  -ms-box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  -o-box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  box-shadow: 0 1px 24px rgba(189, 196, 201, 0.7);
  position: relative;
  width: 127px;
  height: 127px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .profile__image {
    position: absolute;
    bottom: 21px;
    left: 19px;
    width: 173px;
    height: 173px;
  }
}

.profile__details {
  margin-top: 16px;
  margin-bottom: 11px;
}

@media only screen and (min-width: 768px) {
  .profile__details {
    margin-top: 22px;
    padding-left: 205px;
  }
}

.profile__details h2 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  .profile__details h2 {
    margin-bottom: 8px;
    text-align: center;
  }
}

.profile-picture {
  position: absolute;
  top: 0;
  right: -42px;
}

@media only screen and (max-width: 767px) {
  .profile-picture {
    right: -59px;
  }
}

.profile-detail {
  margin-bottom: 5px;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .profile-detail {
    padding-left: 5px;
  }
}

.profile--followers {
  position: relative;
  margin-left: 15px;
  color: #a6b0b7;
}

@media only screen and (max-width: 767px) {
  .profile--followers {
    margin-top: 9px;
    color: #3f454a;
  }
}

@media only screen and (min-width: 992px) {
  .profile--followers {
    position: absolute;
    right: 20px;
    bottom: 13px;
  }
}

.profile--followers span {
  margin-right: 1px;
  color: #3f454a;
}

@media only screen and (max-width: 767px) {
  .profile--followers span {
    margin-right: 4px;
  }
}

.profile--rating {
  display: inline-block;
  margin-right: 19px;
  line-height: 24px;
}

.profile--reviews {
  display: inline-block;
  margin-right: 5px;
  color: #727e88;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  .profile--reviews {
    display: block;
  }
}

.profile--reviews span {
  margin-right: 15px;
  color: #3f454a;
}

@media only screen and (max-width: 767px) {
  .profile--reviews span {
    margin-right: 13px;
  }
}

/*------------------------------------*
  #BUTTONS
\*------------------------------------*/
.btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 97px;
    height: 31px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15.16px;
  }
}

.btn:active, .btn:focus, .btn:focus:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn--logout {
  padding-top: 8px;
  color: #007ee5;
}

@media only screen and (max-width: 767px) {
  .btn--logout {
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .btn--logout {
    background-color: #fff;
    border: 1px solid #007ee5;
  }
  .btn--logout:hover {
    background-color: #eee;
  }
}

.btn--logout:hover {
  color: #0066b9;
}

.btn--up-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 221px;
  height: 45px;
  padding-top: 3px;
  color: #858f98;
  border: 1px solid #d0dce7;
  text-transform: none;
  font-size: 15px;
  font-weight: normal;
}

.btn--up-image:hover {
  color: #60676d;
  background-color: #eee;
}

.btn--up-image:hover .ico-upload {
  color: #60676d;
}

.btn--save {
  margin-top: 20px;
  padding-top: 7px;
  color: #fff;
  background-color: #007ee5;
}

.btn--save:hover {
  color: #fff;
  background-color: #0066b9;
}

.btn--edit {
  display: inline-block;
  width: 43px;
  padding: 0;
  color: #727e88;
  border: none;
  background-color: #ecf1f5;
  vertical-align: top;
  font-size: 18px !important;
  line-height: 37px;
}

@media only screen and (max-width: 767px) {
  .btn--edit {
    width: 30px;
    height: 25px;
    font-size: 16px !important;
    line-height: 22px;
  }
}

.btn--edit:hover {
  color: #fff;
  background-color: #007ee5;
}

.btn--mobile {
  padding: 4px 14px;
  color: #007ee5;
  background-color: transparent;
}

.btn--mobile:hover {
  color: #0066b9;
}

/*------------------------------------*
  #ICONS
\*------------------------------------*/
.ico--upload {
  position: relative;
  top: 5px;
  margin-right: 19px;
  color: #d0dce7;
  font-size: 28px;
  line-height: 28px;
}

.icons {
  position: relative;
  margin-right: 12px;
  color: #a8b8c4;
  font-size: 22px;
  line-height: 22px;
}

.icons--phone {
  top: 1px;
}

.icons--location {
  margin-right: 15px;
  color: rgba(63, 69, 74, 0.7);
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .icons--location {
    left: 2px;
    margin-right: 12px;
  }
}

.icons--stars {
  /* color: #007ee5; */
  top: 1px;
  margin-right: 7px;
  color: #727e88;
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .icons--stars {
    color: #007ee5;
  }
}

.icons--plus {
  top: 4px;
  margin-right: 17px;
  color: #a6b0b7;
  font-size: 28px;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  .icons--plus {
    margin-right: 8px;
    top: 5px;
  }
}

/* .ico-profile {
  color: #a8b8c4;
  display: inline-block;
  vertical-align: top;
  line-height: 37px;
  width: 25px;
  position: relative;

  &-website {
      top: -1px;
      font-size: 18px;
  }
  &-phone {
      top: 1px;
      font-size: 22px;
  }
  &-location {
      top: -3px;
      font-size: 22px;
  }
} */
.ico-profile-website::before {
  content: "\f38c";
  position: relative;
  top: 1px;
  margin-right: 10px;
  color: #a8b8c4;
  font-family: "Ionicons";
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.ico-profile-phone::before {
  content: "\f4b8";
  position: relative;
  top: 3px;
  margin-right: 10px;
  color: #a8b8c4;
  font-family: "Ionicons";
  font-size: 22px;
  font-weight: normal;
  line-height: 22px;
}

.ico-profile-location::before {
  content: "\f447";
  position: relative;
  top: -1px;
  margin-right: 8px;
  color: #a8b8c4;
  font-family: "Ionicons";
  font-size: 22px;
  font-weight: normal;
  line-height: 22px;
}

/*------------------------------------*
  #TABS NAVIGATION
\*------------------------------------*/
nav {
  -webkit-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  -khtml-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  -moz-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  -ms-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  -o-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
  height: 58px;
  padding-left: 20px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  nav {
    padding-left: 220px;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    background-color: #fff;
    display: flex;
  }
  nav ul {
    flex: 1 1 auto;
    width: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .scroll-content {
    padding-bottom: 100px !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
  }
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  padding: 18px 0 16px;
  color: #3f454a;
  font-size: 15px;
  line-height: 22px;
}

.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 25px;
  text-transform: uppercase;
}

.nav-pills > li:last-child > a {
  margin-right: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #3f454a;
  border-bottom: 2px solid #028dfe;
  background-color: transparent;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: #007ee5;
  border-bottom: 2px solid #007ee5;
  background-color: transparent;
  text-decoration: none;
}

/*------------------------------------*
  #TABS CONTENT
\*------------------------------------*/
.profile-tabs {
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  .profile-tabs {
    border-top: 1px solid #d0dce8;
  }
}

@media only screen and (min-width: 768px) {
  .profile-tabs {
    -webkit-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    -khtml-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    -moz-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    -ms-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    -o-box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    box-shadow: rgba(114, 126, 136, 0.28) 0 1px 6px 0;
    background-color: #fff;
    margin-bottom: 40px;
  }
}

.tab-wrapper {
  position: relative;
  padding: 45px 41px 200px;
}

@media only screen and (max-width: 767px) {
  .tab-wrapper {
    padding: 24px 20px 100px;
  }
}

.tab-wrapper h2 {
  margin-bottom: 5px;
  color: #727e88;
  font-size: 24px;
  line-height: 22px;
}

/*------------------------------------*
  #MATERIAL INPUT
\*------------------------------------*/
.form-material {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.form-material label {
  position: absolute;
  top: 16px;
  left: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  pointer-events: none;
}

.form-material .label-red {
  color: red;
}

/* BOTTOM BARS */
.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar:after, .bar:before {
  content: '';
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  background: #007ee5;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input-material {
  display: block;
  width: 100%;
  height: 39px;
  margin-top: 2px;
  padding: 9px 10px 8px 0;
  color: #3f454a;
  border: none;
  border-bottom: 1px solid #d0dce7;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-material:focus {
  outline: none;
  box-shadow: none;
}

.input-material:focus ~ label,
.input-material:valid ~ label {
  top: -8px;
  color: #a6b0b7;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
}

.input-material:invalid {
  outline: none;
  box-shadow: none;
}

.input-material:focus ~ .bar:after,
.input-material:focus ~ .bar:before {
  width: 50%;
}

.input-red {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid red;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form--settings, .mobileform {
  width: 270px;
}

@media only screen and (max-width: 479px) {
  .form--settings, .mobileform {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }
}

/*------------------------------------*
  #PRODILE INFO
\*------------------------------------*/
.profile-infos {
  margin-top: 33px;
}

.profile-infos li {
  height: 37px;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 22px;
}

.profile-infos li.profile-info-business {
  margin-top: -7px;
  margin-bottom: 5px;
  color: #727e88;
}

.profile-info {
  display: inline-block;
  position: relative;
  padding: 1px 24px 0px 3px;
  line-height: 37px;
}

@media only screen and (min-width: 768px) {
  .profile-info {
    background-color: #f5f8f8;
  }
}

.profile-name {
  padding-left: 3px;
  padding-right: 17px;
  padding-top: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: -1px;
}

.profile-business {
  padding-left: 6px;
}

.about__edit, .settings__edit {
  position: absolute;
  top: 23px;
  right: 23px;
}

@media only screen and (min-width: 768px) {
  .about__edit__pen {
    display: none;
  }
}

/*------------------------------------*
  #POPOVER
\*------------------------------------*/
.popover {
  -webkit-box-shadow: #bdc4c9 0 0 25px 0;
  -khtml-box-shadow: #bdc4c9 0 0 25px 0;
  -moz-box-shadow: #bdc4c9 0 0 25px 0;
  -ms-box-shadow: #bdc4c9 0 0 25px 0;
  -o-box-shadow: #bdc4c9 0 0 25px 0;
  box-shadow: #bdc4c9 0 0 25px 0;
  width: 298px;
  margin-top: 41px;
  border: none;
}

.popover .form-material {
  width: 100%;
  height: 39px;
  margin-top: 2px;
  padding-bottom: 8px;
}

.popover .form-material:focus ~ label,
.popover .form-material:valid ~ label {
  top: -16px;
}

.popover .btn--logout {
  margin-top: 20px;
  margin-left: 20px;
}

.popover .arrow {
  top: 21% !important;
}

.popover.right {
  margin-left: -30px;
}

.popover.right > .arrow {
  border-right: none;
}

.popover-content {
  padding: 21px;
}

/*------------------------------------*
  #HELPERS
\*------------------------------------*/
.full--width {
  width: 100%;
}

.spacer-margin-top {
  margin-top: 14px;
}

.m-divider {
  width: 100%;
  margin: 35px 0;
  padding-bottom: 6px;
}

@media only screen and (max-width: 559px) {
  .m-divider {
    visibility: hidden;
    display: none;
  }
}

.m-divider:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  margin-left: 2px;
  background-color: #d0dce7;
}

.followers--hover {
  display: none;
  position: absolute;
  top: -25px;
  background-color: #000;
  color: #fff;
  left: -36px;
  padding: 3px 6px;
  border-radius: 3px;
}

.followers--hover::after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  left: 44%;
  position: absolute;
  top: 26px;
}

.icons--plus {
  cursor: pointer;
}

.icons--plus:hover ~ .followers--hover {
  display: block;
}
